.iframe-main {
    scroll-behavior: unset;
    overflow: hidden;
    border: none;
    min-height: 35vh;
    height: 50%;
    width: 100%;
}

.iframe-secondary {
    scroll-behavior: unset;
    overflow: hidden;
    border: none;
    min-height: 25vh;
    height: 33%;
    width: 100%;
}

#map {
    height: 550px;
    width: 100%;
    overflow: hidden;

}

/* Logo styling */
.massey-logo {
    margin-left: 20px;
    min-width: 100px;
    min-height: 50px;
    max-height: 100px;
    max-width: 150px; /* Limit logo width on desktop */
}

/* Text styling */
.welcome-text {
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-size: 30px; /* Larger text on desktop */
    line-height: 40px;
    text-align: center;
    margin-right: 20px; /* Space between logo and text */
}

/* Social icons styling */
.social-icons a {
    margin: 0 10px;
    color: #333; /* Icon color */
    font-size: 24px; /* Icon size */
}

@media (min-width: 600px) {
    .iframe-main {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .iframe-main {
        width: 100%;
    }
    .iframe-secondary{
        width:100%;
    }

    .container {
        flex-direction: column; /* Stack children vertically */
        text-align: center; /* Center text for mobile */
    }

    .massey-logo {
        max-width: 100px; /* Smaller logo on mobile */
    }

    .welcome-text {
        font-size: 20px; /* Smaller text on mobile */
    }

    #map {
        max-height: 400px;
    }
}



