.iframe-main {
    scroll-behavior: unset;
    overflow: hidden;
    border: none;
    min-height: 35vh;
    height: 50%;
    width: 100%;
}

.iframe-secondary {
    scroll-behavior: unset;
    overflow: hidden;
    border: none;
    min-height: 25vh;
    height: 33%;
    width: 100%;
}

#map {
    height: 550px;
    width: 100%;
    overflow: hidden;

}

/* Logo styling */
.massey-logo {
    margin-left: 20px;
    min-width: 100px;
    min-height: 50px;
    max-height: 100px;
    max-width: 200px; /* Limit logo width on desktop */
}

/* Text styling */
.welcome-text {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-size: 30px; /* Larger text on desktop */
    font-weight: 400;
    line-height: 50px;
}

.instagram{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

@media (min-width: 600px) {
    .iframe-main {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .iframe-main {
        width: 100%;
    }
    .iframe-secondary{
        width:100%;
    }

    .container {
        flex-direction: column; /* Stack children vertically */
        text-align: center; /* Center text for mobile */
    }

    .massey-logo {
        margin-left: 5px;
        max-width: 100px; /* Smaller logo on mobile */
    }

    .welcome-text {
        vertical-align: center;
        text-align: center;
        margin-right: 0;
        font-size: 20px; /* Smaller text on mobile */
    }

    #map {
        max-height: 400px;
    }
}



